@media only screen and (max-width:834px){
    .nav-menu{
        display: none;
        width: 0px;
    }
    .menu{
        display: block;
    }
    main{
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    
}