@media only screen and (max-width:375px) {
    .nav-menu {
        display: none;
    }

    .menu {
        display: block;
    }

    .container {
        display: none;
    }

    .heading {
        width: 315px;
        height: 93px;
        gap: 10px;
        margin: 40px auto;

    }

    .account-left img {
        width: 375px;
        height: 232px;

    }

    .create-account {
        display: block;
    }

    .welcome p {
        font-size: 16px;
        font-weight: normal;
    }

    .typeform {
        margin-right: 30px;
    }

    .button {
        margin: 0px -21px;
    }

    .email-info {
        display: flex;
        flex-direction: column;
    }

    .footer-info {
        flex-direction: column;
    }
}