/* Start header */
header {
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;

}

/* Start nav-logo */
.nav-logo {
    width: 300px;
    height: 32px;
    gap: 10px;
    display: flex;
    font-family: Space Mono;
}

.nav-logo i {
    color: rgba(162, 89, 255, 1);
    font-size: 20px;
}

.nav-logo a {
    color: #fff;

}

/* End nav-logo */
/* Start nav-menu */
.nav-menu {
    width: 607px;
    height: 60px;
}

.nav-menu-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-ul li {
    margin-right: 5px;
}

.nav-menu a {
    font-family: Work Sans;
    color: #fff;
    font-weight: bold;
}

.user-sign {
    width: 152px;
    height: 60px;
    border: 1px solid rgba(162, 89, 255, 1);
    background-color: rgba(162, 89, 255, 1);
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.menu i {
    color: #fff;
}

.user-sign i {
    margin-right: 5px;
}

/* End nav-menu */
/* End header */
/* Start main */
.create-account {
    display: flex;
}

.account-left img {
    width: 610px;
    height: 691px;
}

.creating h1 {
    font-family: Work Sans;
    font-size: 71px;
    font-weight: 600;
    color: #fff;
}

.welcome {
    margin: 20px 0px;
}

.welcome p {
    color: #fff;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 400;
}

.text-input {
    border: none;
}

.account-right {
    margin: 130px 350px;
}

.button img {
    width: 40px;
    height: 40px;

}

.button {
    width: 320px;
    height: 72px;
    margin: 22px;
    padding: 0px 20px 0px 40px;
    border-radius: 20px;
    background-color: rgba(59, 59, 59, 1);
    border: 1px solid rgba(162, 89, 255, 1);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.button p {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    color: #FFF;
}

/* End main */
/* Start footer */
footer {
    background-color: rgba(59, 59, 59, 1);
    width: 1, 280px;

    padding: 20px;
    gap: 30px;

}

.nft-anima {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
    margin: 10px 0px;
}

.community {
    margin: 20px 0px;
}

.community h1 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
}

.community-icons i {
    margin: 20px 0px;
    color: rgba(133, 133, 132, 1);
    width: 32px;
    height: 32px;
    font-size: 32px;


}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.explore-footer h1 {
    font-family: Space Mono;
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
}

.pages p {
    margin: 20px 0px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.join {
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
}

.form-info {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}

.form-info p {
    margin: 20px 0px;
    color: rgba(204, 204, 204, 1);
}

.line {
    width: 1350px;


    margin: auto;
    border: 1px solid rgba(133, 133, 132, 1);

}

.footer-detail {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
    margin: 30px 90px;
}

.subscribe-info {

    border-radius: 20px;
    gap: 12px;

}

.sub-info {
    width: 211px;
    height: 60px;
    padding: 0px 50px 0px 50px;
    border-radius: 20px;

    color: #FFF;
    font-family: Work Sans;
    border-radius: 20px;
    background-color: rgba(162, 89, 255, 1);
    border: 1px solid rgba(162, 89, 255, 1);
    text-align: center;
    display: flex;
    margin-left: 50px;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    left: 163px;
}

.email-info {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    width: 425px;
    height: 60px;
    position: relative;
}

.sub-info a {
    color: #FFF;


}

.sub-info i {
    color: #FFF;
}

.email-sub {
    margin-left: 40px;
    border: none;
    color: rgba(43, 43, 43, 1);
}

/* End footer */