/* Start header */
header {
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;

}

/* Start nav-logo */
.nav-logo {
    width: 300px;
    height: 32px;
    gap: 10px;
    display: flex;
    font-family: Space Mono;
}

.nav-logo i {
    color: rgba(162, 89, 255, 1);
    font-size: 20px;
}

.nav-logo a {
    color: #fff;

}

/* End nav-logo */
/* Start nav-menu */
.nav-menu {
    width: 607px;
    height: 60px;
}

.nav-menu-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-ul li {
    margin-right: 5px;
}

.nav-menu a {
    font-family: Work Sans;
    color: #fff;
    font-weight: bold;
}

.user-sign {
    width: 152px;
    height: 60px;
    border: 1px solid rgba(162, 89, 255, 1);
    background-color: rgba(162, 89, 255, 1);
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.menu i {
    color: #fff;
}

.user-sign i {
    margin-right: 5px;
}

/* End nav-menu */
/* End header */
/* Start main */
.subhead h1 {
    margin: 0px 100px;
    font-family: Work Sans;
    font-size: 41px;
    font-weight: 600;
    color: #fff;
}

.subhead p {
    margin: 20px 100px;
    font-family: Work Sans;
    font-size: 17px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

}

.frame {
    width: 1280px;
    height: 60px;
    padding: 0px 10px 0px 10px;
    gap: 10px;
}

.tabs {
    width: 1050px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 400px;
}

.tab1 {
    width: 262px;
    height: 60px;
    padding: 0px 30px 0px 30px;
    border: 0px 0px 2px 0px;
    gap: 16px;

}

.tab1 p {

    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);

}

.tab2 {
    width: 262px;
    height: 60px;
    padding: 0px 30px 0px 30px;
    border: 0px 0px 2px 0px;
    gap: 16px;

}

.tab2 p {

    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    color: rgba(133, 133, 132, 1);
}

.table-header {
    width: 1050px;
    height: 46px;
    padding: 12px 0px 12px 0px;
    border-radius: 20px;
    border: 1px solid rgba(59, 59, 59, 1);
    gap: 10px;
    margin: 20px 400px;
}

.table {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artist {
    width: 100px;
    height: 22px;
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.artist p {

    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    color: rgba(133, 133, 132, 1);
}

.change {
    padding: 0px 189px;
    display: flex;
    gap: 100px;

}

.stats p {

    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    color: rgba(133, 133, 132, 1);

}

.artist-info span {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    gap: 10px;
    background-color: rgba(43, 43, 43, 1);
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    color: rgba(133, 133, 132, 1);

}

.artist-card img {
    width: 60px;
    height: 60px;

}

.rank-items {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 1050px;
    height: 84px;
    border-radius: 20px;
    border: 1px solid rgba(59, 59, 59, 1);
    background-color: rgba(59, 59, 59, 1);
    margin: 20px 400px;
}

.artist-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;

}

.stat-info {
    display: flex;
}

.artist-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.artist-card p {
    width: 300px;
    height: 31px;
    gap: 5px;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);

}

.channel {
    width: 160px;
    height: 22px;
    gap: 10px;

}

.channel p {

    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 172, 79, 1);

}

.solding p {

    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    color: #fff;


}

.solding {
    margin-left: 10px;
}

.solding1 p {

    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    color: #fff;


}

.solding1 {
    padding: 0px 160px;
}

/* Start footer */
footer {
    background-color: rgba(59, 59, 59, 1);
    width: 1, 280px;

    padding: 20px;
    gap: 30px;

}

.nft-anima {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
    margin: 10px 0px;
}

.community {
    margin: 20px 0px;
}

.community h1 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
}

.community-icons i {
    margin: 20px 0px;
    color: rgba(133, 133, 132, 1);
    width: 32px;
    height: 32px;
    font-size: 32px;


}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.explore-footer h1 {
    font-family: Space Mono;
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
}

.pages p {
    margin: 20px 0px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.join {
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
}

.form-info {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}

.form-info p {
    margin: 20px 0px;
    color: rgba(204, 204, 204, 1);
}

.line {
    width: 1350px;


    margin: auto;
    border: 1px solid rgba(133, 133, 132, 1);

}

.footer-detail {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
    margin: 30px 90px;
}

.subscribe-info {

    border-radius: 20px;
    gap: 12px;

}

.sub-info {
    width: 211px;
    height: 60px;
    padding: 0px 50px 0px 50px;
    border-radius: 20px;

    color: #FFF;
    font-family: Work Sans;
    border-radius: 20px;
    background-color: rgba(162, 89, 255, 1);
    border: 1px solid rgba(162, 89, 255, 1);
    text-align: center;
    display: flex;
    margin-left: 50px;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    left: 163px;
}

.email-info {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    width: 425px;
    height: 60px;
    position: relative;
}

.sub-info a {
    color: #FFF;


}

.sub-info i {
    color: #FFF;
}

.email-sub {
    margin-left: 40px;
    border: none;
    color: rgba(43, 43, 43, 1);
}

/* End footer */