@media only screen and (max-width:834px) {
    .nav-menu {
        display: none;

    }

    .menu {
        display: block;
    }

    main {
        align-items: center;
        justify-content: center;
        margin: 0px -370px;
    }
    .main-nft{
        display: none;
    }
    .solding{
        display: none;
       
    }
    .solding1{
        padding: 0px 30px;
    }
    .rank-items{
        width: 1011px;
    }
    .table-header{
        width: 789px;
    }
    .rank-items{
        width: 789px;
    }
    .change{
        padding: 3px 333px;
    }
    .volume{
        padding: 0px 49px;
    }
}